package {{ .PackageName }}

import (
	"github.com/pkg/errors"
)

// {{ .TitlePrefix }}Handler is an object handling an item type of {{ .TypeName }}.
type {{ .TitlePrefix }}Handler interface {
	// Handle should do something with item of {{ .TypeName }}.
	// It is suggested to return EndOf{{ .TitlePrefix }}Iterator to stop iteration.
	Handle({{ .TypeName }}) error
}

// {{ .TitlePrefix }}Handle is a shortcut implementation
// of {{ .TitlePrefix }}Handler based on a function.
type {{ .TitlePrefix }}Handle func({{ .TypeName }}) error

// Handle does something with item of {{ .TypeName }}.
// It is suggested to return EndOf{{ .TitlePrefix }}Iterator to stop iteration.
func (h {{ .TitlePrefix }}Handle) Handle(item {{ .TypeName }}) error { return h(item) }

// {{ .TitlePrefix }}DoNothing does nothing.
var {{ .TitlePrefix }}DoNothing {{ .TitlePrefix }}Handler = {{ .TitlePrefix }}Handle(func(_ {{ .TypeName }}) error { return nil })

type double{{ .TitlePrefix }}Handler struct {
	lhs, rhs {{ .TitlePrefix }}Handler
}

func (h double{{ .TitlePrefix }}Handler) Handle(item {{ .TypeName }}) error {
	err := h.lhs.Handle(item)
	if err != nil {
		return errors.Wrap(err, "handle lhs")
	}
	err = h.rhs.Handle(item)
	if err != nil {
		return errors.Wrap(err, "handle rhs")
	}
	return nil
}

// {{ .TitlePrefix }}HandlerSeries combines all the given handlers to sequenced one
// It returns do nothing handler if the list of handlers is empty.
func {{ .TitlePrefix }}HandlerSeries(handlers ...{{ .TitlePrefix }}Handler) {{ .TitlePrefix }}Handler {
	var series = {{ .TitlePrefix }}DoNothing
	for i := len(handlers) - 1; i >= 0; i-- {
		if handlers[i] == nil {
			continue
		}
		series = double{{ .TitlePrefix }}Handler{lhs: handlers[i], rhs: series}
	}
	return series
}

// Handling{{ .TitlePrefix }}Iterator does iteration with
// handling by previously set handler.
type Handling{{ .TitlePrefix }}Iterator struct {
	prepared{{ .TitlePrefix }}Item
	handler {{ .TitlePrefix }}Handler
}

// HasNext checks if there is the next item
// in the iterator. HasNext is idempotent.
func (it *Handling{{ .TitlePrefix }}Iterator) HasNext() bool {
	if it.hasNext {
		return true
	}
	if it.prepared{{ .TitlePrefix }}Item.HasNext() {
		next := it.base.Next()
		err := it.handler.Handle(next)
		if err != nil {
			if !isEndOf{{ .TitlePrefix }}Iterator(err) {
				err = errors.Wrap(err, "handling iterator: check")
			}
			it.err = err
			return false
		}

		it.hasNext = true
		it.next = next
		return true
	}

	return false
}

// {{ .TitlePrefix }}Handling sets handler while iterating over items.
// If handlers is empty, so it will do nothing.
func {{ .TitlePrefix }}Handling(items {{ .TitlePrefix }}Iterator, handlers ...{{ .TitlePrefix }}Handler) {{ .TitlePrefix }}Iterator {
	if items == nil {
		return Empty{{ .TitlePrefix }}Iterator
	}
	return &Handling{{ .TitlePrefix }}Iterator{
		prepared{{ .TitlePrefix }}Item{base: items}, {{ .TitlePrefix }}HandlerSeries(handlers...)}
}

// {{ .TitlePrefix }}Range iterates over items and use handlers to each one.
func {{ .TitlePrefix }}Range(items {{ .TitlePrefix }}Iterator, handlers ...{{ .TitlePrefix }}Handler) error {
	return {{ .TitlePrefix }}Discard({{ .TitlePrefix }}Handling(items, handlers...))
}

// {{ .TitlePrefix }}RangeIterator is an iterator over items.
type {{ .TitlePrefix }}RangeIterator interface {
	// Range should iterate over items.
	Range(...{{ .TitlePrefix }}Handler) error
}

type s{{ .TitlePrefix }}RangeIterator struct {
	iter {{ .TitlePrefix }}Iterator
}

// To{{ .TitlePrefix }}RangeIterator constructs an instance implementing {{ .TitlePrefix }}RangeIterator
// based on {{ .TitlePrefix }}Iterator.
func To{{ .TitlePrefix }}RangeIterator(iter {{ .TitlePrefix }}Iterator) {{ .TitlePrefix }}RangeIterator {
	if iter == nil {
		iter = Empty{{ .TitlePrefix }}Iterator
	}
	return s{{ .TitlePrefix }}RangeIterator{iter: iter}
}

// Make{{ .TitlePrefix }}RangeIterator constructs an instance implementing {{ .TitlePrefix }}RangeIterator
// based on {{ .TitlePrefix }}IterMaker.
func Make{{ .TitlePrefix }}RangeIterator(maker {{ .TitlePrefix }}IterMaker) {{ .TitlePrefix }}RangeIterator {
	if maker == nil {
		maker = MakeNo{{ .TitlePrefix }}Iter
	}
	return To{{ .TitlePrefix }}RangeIterator(maker.MakeIter())
}

// Range iterates over items.
func (r s{{ .TitlePrefix }}RangeIterator) Range(handlers ...{{ .TitlePrefix }}Handler) error {
	return {{ .TitlePrefix }}Range(r.iter, handlers...)
}

// {{ .TitlePrefix }}EnumHandler is an object handling an item type of {{ .TypeName }} and its ordered number.
type {{ .TitlePrefix }}EnumHandler interface {
	// Handle should do something with item of {{ .TypeName }} and its ordered number.
	// It is suggested to return EndOf{{ .TitlePrefix }}Iterator to stop iteration.
	Handle(int, {{ .TypeName }}) error
}

// {{ .TitlePrefix }}EnumHandle is a shortcut implementation
// of {{ .TitlePrefix }}EnumHandler based on a function.
type {{ .TitlePrefix }}EnumHandle func(int, {{ .TypeName }}) error

// Handle does something with item of {{ .TypeName }} and its ordered number.
// It is suggested to return EndOf{{ .TitlePrefix }}Iterator to stop iteration.
func (h {{ .TitlePrefix }}EnumHandle) Handle(n int, item {{ .TypeName }}) error { return h(n, item) }

// {{ .TitlePrefix }}DoEnumNothing does nothing.
var {{ .TitlePrefix }}DoEnumNothing = {{ .TitlePrefix }}EnumHandle(func(_ int, _ {{ .TypeName }}) error { return nil })

type double{{ .TitlePrefix }}EnumHandler struct {
	lhs, rhs {{ .TitlePrefix }}EnumHandler
}

func (h double{{ .TitlePrefix }}EnumHandler) Handle(n int, item {{ .TypeName }}) error {
	err := h.lhs.Handle(n, item)
	if err != nil {
		return errors.Wrap(err, "handle lhs")
	}
	err = h.rhs.Handle(n, item)
	if err != nil {
		return errors.Wrap(err, "handle rhs")
	}
	return nil
}

// {{ .TitlePrefix }}EnumHandlerSeries combines all the given handlers to sequenced one
// It returns do nothing handler if the list of handlers is empty.
func {{ .TitlePrefix }}EnumHandlerSeries(handlers ...{{ .TitlePrefix }}EnumHandler) {{ .TitlePrefix }}EnumHandler {
	var series {{ .TitlePrefix }}EnumHandler = {{ .TitlePrefix }}DoEnumNothing
	for i := len(handlers) - 1; i >= 0; i-- {
		if handlers[i] == nil {
			continue
		}
		series = double{{ .TitlePrefix }}EnumHandler{lhs: handlers[i], rhs: series}
	}
	return series
}

// EnumHandling{{ .TitlePrefix }}Iterator does iteration with
// handling by previously set handler.
type EnumHandling{{ .TitlePrefix }}Iterator struct {
	prepared{{ .TitlePrefix }}Item
	handler {{ .TitlePrefix }}EnumHandler
	count   int
}

// HasNext checks if there is the next item
// in the iterator. HasNext is idempotent.
func (it *EnumHandling{{ .TitlePrefix }}Iterator) HasNext() bool {
	if it.hasNext {
		return true
	}
	if it.prepared{{ .TitlePrefix }}Item.HasNext() {
		next := it.base.Next()
		err := it.handler.Handle(it.count, next)
		if err != nil {
			if !isEndOf{{ .TitlePrefix }}Iterator(err) {
				err = errors.Wrap(err, "enum handling iterator: check")
			}
			it.err = err
			return false
		}
		it.count++

		it.hasNext = true
		it.next = next
		return true
	}

	return false
}

// {{ .TitlePrefix }}EnumHandling sets handler while iterating over items with their serial number.
// If handlers is empty, so it will do nothing.
func {{ .TitlePrefix }}EnumHandling(items {{ .TitlePrefix }}Iterator, handlers ...{{ .TitlePrefix }}EnumHandler) {{ .TitlePrefix }}Iterator {
	if items == nil {
		return Empty{{ .TitlePrefix }}Iterator
	}
	return &EnumHandling{{ .TitlePrefix }}Iterator{
		prepared{{ .TitlePrefix }}Item{base: items}, {{ .TitlePrefix }}EnumHandlerSeries(handlers...), 0}
}

// {{ .TitlePrefix }}Enum iterates over items and their ordering numbers and use handlers to each one.
func {{ .TitlePrefix }}Enum(items {{ .TitlePrefix }}Iterator, handlers ...{{ .TitlePrefix }}EnumHandler) error {
	return {{ .TitlePrefix }}Discard({{ .TitlePrefix }}EnumHandling(items, handlers...))
}

// {{ .TitlePrefix }}EnumIterator is an iterator over items and their ordering numbers.
type {{ .TitlePrefix }}EnumIterator interface {
	// Enum should iterate over items and their ordering numbers.
	Enum(...{{ .TitlePrefix }}EnumHandler) error
}

type s{{ .TitlePrefix }}EnumIterator struct {
	iter {{ .TitlePrefix }}Iterator
}

// To{{ .TitlePrefix }}EnumIterator constructs an instance implementing {{ .TitlePrefix }}EnumIterator
// based on {{ .TitlePrefix }}Iterator.
func To{{ .TitlePrefix }}EnumIterator(iter {{ .TitlePrefix }}Iterator) {{ .TitlePrefix }}EnumIterator {
	if iter == nil {
		iter = Empty{{ .TitlePrefix }}Iterator
	}
	return s{{ .TitlePrefix }}EnumIterator{iter: iter}
}

// Make{{ .TitlePrefix }}EnumIterator constructs an instance implementing {{ .TitlePrefix }}EnumIterator
// based on {{ .TitlePrefix }}IterMaker.
func Make{{ .TitlePrefix }}EnumIterator(maker {{ .TitlePrefix }}IterMaker) {{ .TitlePrefix }}EnumIterator {
	if maker == nil {
		maker = MakeNo{{ .TitlePrefix }}Iter
	}
	return To{{ .TitlePrefix }}EnumIterator(maker.MakeIter())
}

// Enum iterates over items and their ordering numbers.
func (r s{{ .TitlePrefix }}EnumIterator) Enum(handlers ...{{ .TitlePrefix }}EnumHandler) error {
	return {{ .TitlePrefix }}Enum(r.iter, handlers...)
}

// Range iterates over items.
func (r s{{ .TitlePrefix }}EnumIterator) Range(handlers ...{{ .TitlePrefix }}Handler) error {
	return {{ .TitlePrefix }}Range(r.iter, handlers...)
}
